*{
    margin:0 auto;
    padding: 0 auto;
    font-family:'Darker Grotesque';
	border: 0;
	
}
.nodecoration{
    text-decoration: none;
}
.flex{
    display: flex;
}
.quebrarLinha{
    flex-wrap: wrap;
}
/*Ajustes do topo*/

.menu-topo{
    /*Aparência*/
    background-color:#85CDF5;
    display: flex;
    /* gap: 5rem; */
    justify-content: space-between;
    align-items: center;    
    height:8rem;
    padding-left: 20%;
    padding-right: 20%;
}

/*Links do topo*/

.menu-topo > .links-topo > a{
    color: black;
    font-family:'Darker Grotesque';
    font-size: 1.8em;
    text-decoration: none;
}
.links-topo2{
    color: black;
    font-family:'Darker Grotesque';
    font-size: 1.8em;
    text-decoration: none;
    text-align: center;


}
.seta{
    border-radius: 8rem;
    background-color:black;
    padding: 0.3rem;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1rem;
}


.seta:hover{
    color: white;
    padding-left: 10rem;
    background-color: rgba(46, 46, 70, 0.747);
    border-top-left-radius: 8rem;
    border-bottom-left-radius: 8rem ;
    transition-property: all ;
    transition-duration: 0.8s;

}



     /* SECONDE SECTION */


main{
    text-align: center;
    padding-left: 20%;
    padding-right: 20% ;
}
.titulo1{
    font-size: 6rem;
    padding-left: 2rem;
    padding-top: 3rem ;
    padding-bottom: 3rem ;
}
.texto1{
    font-size: 1.7rem;
    font-weight: inherit;
    padding-bottom: 4rem;
}

       /* rodapé */


       
       /* rodapé */
    
.gradiente{
    height: 5px;
    background: linear-gradient(270deg, #2C5680 0%, #DEB959 100%)
}
.mapa{
    margin: 2rem 0 2rem 2rem;
    width: 30%;
    border-radius: 5px;    
}
.botao1{
    background-color:rgb(222, 185, 89); 
    color: rgb(224, 217, 217);
    padding: 0.1rem 1.5rem;
    font-size: 1rem;   
}

.informacoes{
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    margin:5% 5% 7% 1rem;
    line-height: 1.5;
    color: white;
}

.rodape{
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items: center ;
    /* margin: 2% 5% 5% 1%; */
    vertical-align: top;
    background-color: #495258;
    
    
}

.patinha{
    justify-content: center;
    align-items: center;
    margin: 5%;
    
}

.info{
    padding-top: 2rem;
    margin-left: 1rem;
}
.desenvolvimento{
    text-align: center;
    color: white;
}
.botao1 a{
    text-decoration: none;
    font-weight: 700;
    color:rgb(10, 10, 10);
}

    /* responsividade */


/* @media (max-width: 600px){

    .menu-topo{
        flex-wrap: wrap;
        align-items: center;
    }
    .links-topo{
        padding-le;
    }
} */